/brainstorm.txt
/dataFrame
/dataFrame.dSYM
/lr
/lr.dSYM
/matrix
/matrix.dSYM
/matrixUtil
/mindmap.drawio
/model
/modelUtil
/modelUtil.dSYM
/parser
/parser.dSYM
/tempCodeRunnerFile
/test
/test.dSYM
/trail1.csv
/util